# Browser configuration
VITE_CONVEX_URL=https://your-deployment.convex.cloud
VITE_SHOW_DEVTOOLS=false

# Convex development and server configuration
CONVEX_DEPLOYMENT=dev:your-deployment
SITE_URL=http://localhost:3000
